@media (max-width:768px){
  .navbar{
    flex-direction: column;
    gap: 15px;
    padding: 18px;
  }

  .nav-links{
    flex-wrap: wrap;
    justify-content:center;
  }
}

/* Hero Section */
@media (max-width:768px){
  .hero-content p{
    font-size:18px;
    padding:0 15px;
  }

  .hero-buttons{
    flex-direction:column;
    align-items:center;
  }
}

/* Gallery Section */
@media (max-width:768px){
  .gallery-grid{
    grid-template-columns:1fr;
  }
}

/* About + Contact */
@media (max-width:768px){
  .about-card,
  .contact-card{
    grid-template-columns:1fr;
    padding:20px;
  }
}

/*  Title + font */
@media (max-width:768px){
  .section-title,
  .about-title,
  .contact-title{
    font-size:30px;
  }
}